SOAPCallbackExampleImplementation/src/main/resources/META-INF/soapcallback.xml

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://server.soapcallback.modi2018/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="SOAPCallbackImplService" targetNamespace="http://server.soapcallback.modi2018/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://server.soapcallback.modi2018/" elementFormDefault="unqualified" targetNamespace="http://server.soapcallback.modi2018/" version="1.0">

  <xs:element name="PushMessage" type="tns:PushMessage"/>

  <xs:element name="PushMessageResponse" type="tns:PushMessageResponse"/>

  <xs:complexType name="PushMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="M" type="tns:mType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="mType">
    <xs:sequence>
      <xs:element minOccurs="0" name="o_id" type="xs:int"/>
      <xs:element minOccurs="0" name="a" type="tns:aComplexType"/>
      <xs:element minOccurs="0" name="b" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="aComplexType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="a1s" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="a2" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PushMessageResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:mResponseType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="mResponseType">
    <xs:sequence>
      <xs:element minOccurs="0" name="c" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="PushMessageResponse">
    <wsdl:part element="tns:PushMessageResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PushMessage">
    <wsdl:part element="tns:PushMessage" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SOAPCallbackImpl">
    <wsdl:operation name="PushMessage">
      <wsdl:input message="tns:PushMessage" name="PushMessage" wsam:Action="http://server.soapcallback.modi2018/SOAPCallbackImpl/PushMessageRequest" wsaw:Action="http://server.soapcallback.modi2018/SOAPCallbackImpl/PushMessageRequest">
    </wsdl:input>
      <wsdl:output message="tns:PushMessageResponse" name="PushMessageResponse" wsam:Action="http://server.soapcallback.modi2018/SOAPCallbackImpl/PushMessageResponse" wsaw:Action="http://server.soapcallback.modi2018/SOAPCallbackImpl/PushMessageResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SOAPCallbackImplServiceSoapBinding" type="tns:SOAPCallbackImpl">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsaw:UsingAddressing xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsdl:required="false"/>
    <wsdl:operation name="PushMessage">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="PushMessage">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="PushMessageResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SOAPCallbackImplService">
    <wsdl:port binding="tns:SOAPCallbackImplServiceSoapBinding" name="SOAPCallbackImplPort">
      <soap:address location="http://localhost:8080/soapcallback"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>