SOAPPollingHeaderExampleImplementation/src/wsdl/localhost_8080/soap/nomeinterfacciaservizio/v1.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://amministrazioneesempio.it/nomeinterfacciaservizio" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="SOAPCallbackService" targetNamespace="http://amministrazioneesempio.it/nomeinterfacciaservizio">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://amministrazioneesempio.it/nomeinterfacciaservizio" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://amministrazioneesempio.it/nomeinterfacciaservizio">
  <xs:element name="MNextResponse" type="tns:MNextResponse"/>
  <xs:element name="MNextResponseResponse" type="tns:MNextResponseResponse"/>
  <xs:element name="MRequest" type="tns:MRequest"/>
  <xs:element name="MRequestResponse" type="tns:MRequestResponse"/>
  <xs:element name="MResponseById" type="tns:MResponseById"/>
  <xs:element name="MResponseByIdResponse" type="tns:MResponseByIdResponse"/>
  <xs:complexType name="MRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="M" type="tns:mType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mType">
    <xs:sequence>
      <xs:element minOccurs="0" name="o_id" type="xs:int"/>
      <xs:element minOccurs="0" name="a" type="tns:aComplexType"/>
      <xs:element minOccurs="0" name="b" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="aComplexType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="a1s" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="a2" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MRequestResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:ackMessage"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ackMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="outcome" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="errorMessageFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="customFaultCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MResponseById">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="MResponseByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:mResponseType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mResponseType">
    <xs:sequence>
      <xs:element minOccurs="0" name="c" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MNextResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="MNextResponseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:mResponseType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErrorMessageFault" nillable="true" type="tns:errorMessageFault"/>
  <xs:element name="X-CorrelationID" nillable="true" type="xs:string"/>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="MRequest">
    <wsdl:part element="tns:MRequest" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MResponseByIdResponse">
    <wsdl:part element="tns:MResponseByIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MResponseById">
    <wsdl:part element="tns:MResponseById" name="parameters">
    </wsdl:part>
    <wsdl:part element="tns:X-CorrelationID" name="X-CorrelationID">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MNextResponse">
    <wsdl:part element="tns:MNextResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MRequestResponse">
    <wsdl:part element="tns:MRequestResponse" name="result">
    </wsdl:part>
    <wsdl:part element="tns:X-CorrelationID" name="X-CorrelationID">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MNextResponseResponse">
    <wsdl:part element="tns:MNextResponseResponse" name="result">
    </wsdl:part>
    <wsdl:part element="tns:X-CorrelationID" name="X-CorrelationID">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ErrorMessageException">
    <wsdl:part element="tns:ErrorMessageFault" name="ErrorMessageException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SOAPCallback">
    <wsdl:operation name="MRequest">
      <wsdl:input message="tns:MRequest" name="MRequest">
    </wsdl:input>
      <wsdl:output message="tns:MRequestResponse" name="MRequestResponse">
    </wsdl:output>
      <wsdl:fault message="tns:ErrorMessageException" name="ErrorMessageException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="MResponseById">
      <wsdl:input message="tns:MResponseById" name="MResponseById">
    </wsdl:input>
      <wsdl:output message="tns:MResponseByIdResponse" name="MResponseByIdResponse">
    </wsdl:output>
      <wsdl:fault message="tns:ErrorMessageException" name="ErrorMessageException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="MNextResponse">
      <wsdl:input message="tns:MNextResponse" name="MNextResponse">
    </wsdl:input>
      <wsdl:output message="tns:MNextResponseResponse" name="MNextResponseResponse">
    </wsdl:output>
      <wsdl:fault message="tns:ErrorMessageException" name="ErrorMessageException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SOAPCallbackServiceSoapBinding" type="tns:SOAPCallback">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="MRequest">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="MRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="MRequestResponse">
        <soap:header message="tns:MRequestResponse" part="X-CorrelationID" use="literal">
        </soap:header>
        <soap:body parts="result" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ErrorMessageException">
        <soap:fault name="ErrorMessageException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="MResponseById">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="MResponseById">
        <soap:header message="tns:MResponseById" part="X-CorrelationID" use="literal">
        </soap:header>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output name="MResponseByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ErrorMessageException">
        <soap:fault name="ErrorMessageException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="MNextResponse">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="MNextResponse">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="MNextResponseResponse">
        <soap:header message="tns:MNextResponseResponse" part="X-CorrelationID" use="literal">
        </soap:header>
        <soap:body parts="result" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ErrorMessageException">
        <soap:fault name="ErrorMessageException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SOAPCallbackService">
    <wsdl:port binding="tns:SOAPCallbackServiceSoapBinding" name="SOAPCallbackPort">
      <soap:address location="http://localhost:8080/soap/nomeinterfacciaservizio/v1"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>